.App {
  text-align: center;
}

.App-header {
  background-image: url('./newfp.jfif'); /* Ruta de la imagen */
  background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
  background-position: center; /* Centra la imagen */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header h1 {
  color: rgb(255, 255, 255); /* Color del título */
  background-color:rgba(78, 117, 118, 0.578); /* Fondo del título*/
  padding: 5%;
  border-radius: 5px;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
input {
  width: 80%;
  height: 200px;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #8a1c99bb;
  color: #000000;
}

button:hover {
  background-color: #4fa3c4;
}

.resultado-tabla {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
}

.resultado-tabla th, .resultado-tabla td {
  border: 1px solid #ddd;
  padding: 8px;
}

.resultado-tabla th {
  background-color: #0e526d;
  color: white;
}

.resultado-tabla tr:nth-child(even) {
  background-color: #f2f2f2;
}

.resultado-tabla tr:hover {
  background-color: #ddd;
}
